---
title: Amateurs
permalink: /amateurs/
pricing_table:
- name: Profil Pioupiou
  color: "#cacaca"
  features:
    - text: "1% de commission"
      highlight: true
    - text: "1 Trader Bots"
      highlight: false
    - text: "1 Ghost Bots"
      highlight: false
    - text: "Plateformes accessibles : Binance"
      highlight: false
  call_to_action:
    link: https://auth.crypty.fr/if/flow/crypty-authentication-flow/?next=%2F
    text: Inscription
faq:
  - question: Quel type de paiement acceptez-vous ?
    answer: Les cartes de crédits dont MasterCard et Visa.
  - question: Des questions ?
    answer: Contactez nous à <a href="#">contact@pewty.fr</a>.
---

<div class="content">
  <section class="testimonial">
    <div class="container {% if page.full_width %}max-container{% endif %}">
      <div class="text-container">
        <h1 class="subtext editable">Profitez d'un trading facilité</h1>
        <p class="subtext editable">Jusqu'à 3% de gains constatés chaque mois.</p>
      </div>
    </div>
  </section>
  <div class="container {% if page.full_width %}max-container{% endif %}">
    <div class="plans">
      {% for plan in page.pricing_table %}
        <ul class="plan">
          <li style="background: {{ plan.color }}">
            <h3>{{ plan.name }}</h3>
          </li>
          {% for feature in plan.features %}
            <li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
          {% endfor %}
    
          {% if plan.call_to_action %}
            <li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
          {% endif %}
        </ul>
      {% endfor %}
    </div>
  </div>
  <section class="testimonial">
    <div class="container {% if page.full_width %}max-container{% endif %}">
      {% if page.faq %}
        <h2>FAQ</h2>
        <dl class="faq">
          {% for item in page.faq %}
            <div>
              <dt>{{ item.question }}</dt>
              <dd>{{ item.answer }}</dd>
            </div>
          {% endfor %}
        </dl>
      {% endif %}
    </div>
  </section>
</div>

